body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    height:70%;
    width:70%;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: grid;
}

input[type="color"] {
    margin: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#generate-btn{
     width:40%;
}
button:hover {
    background-color: #0056b3;
}

#qr-code {
    margin-top: 20px;
    padding: 20px;
}

#download-link {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

#download-link:hover {
    background-color: #218838;
}
#text-input{
    width:90%;
    padding: 10px 20px;
    border-radius:5px;
    padding-left:20px;
    outline:none;
    font-size: 14px;
   font-weight: normal;
  border: 0.5px solid rgb(137, 151, 155);
  transition: border-color 150ms ease-in-out 0s;
  outline: none;
  color: rgb(33, 49, 60);
  background-color: rgb(255, 255, 255);
    
}
#text-input:hover{
  box-shadow: rgb(231 238 236) 0px 0px 0px 2px;
  border-radius: 7px;
}
